// Place all the styles related to the graficos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.graf1{
	display: inline-block;
	width:51.5%;
	border-style: solid;
	border-color: black;
	border-width: 1px;

}
.graf2{
	display: inline-block;
	width:51.5%;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
