// Place all the styles related to the sent_items_pedidos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left{
	display: inline-block;
	width:49%;

}
.right{
	vertical-align: top;
	display: inline-block;
}